.review-form__fields {
  display: flex;
  flex-direction: column;
}

.textarea {
  font: 400 normal 14px / normal Inter, sans-serif;
  letter-spacing: 0.21px;
  color: #404040;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  min-width: 383px;
  min-height: 113px;
  padding: 11px 15px 10px;
  resize: none;
}

.textarea::placeholder {
  color: #909090;
}

.review-form__textarea {
  margin-top: 50px;
  margin-left: 9px;
}

.button {
  font: 400 normal 14px / normal Inter, sans-serif;
  letter-spacing: 0.21px;
  color: #ffffff;
  background: #1e65b7;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  width: fit-content;
}

.button:hover {
  background: #0b51a3;
}

.review-form__button {
  align-self: flex-end;
  padding: 8px 40px 7px;
  margin-top: 27px;
}
