.parameter {
  display: flex;
  gap: 15px;
  align-items: center;
}

.parameter__range {
  width: 206px;
  margin: 0;
  accent-color: #1e65b7;
}

.parameter__label {
  font: 400 normal 20px / normal Inter, sans-serif;
  letter-spacing: 0.3px;
  color: #404040;
}
