.review-form {
  width: 504px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.review-form__title {
  font: 500 normal 26px / normal Inter, sans-serif;
  letter-spacing: 0.39px;
  color: #404040;
  margin: 0;
  margin-left: 9px;
}

.review-form__content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.review-form__fields {
  display: flex;
  flex-direction: column;
}

.review-form__parameters {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.review-form__button {
  align-self: flex-end;
  padding: 8px 40px 7px;
  margin-top: 27px;
}

.review-form__rating {
  font: 400 normal 44px / normal Inter, sans-serif;
  letter-spacing: 0.66px;
  color: #404040;
}
