.review-form {
  width: 504px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.review-form__title {
  font: 500 normal 26px / normal Inter, sans-serif;
  letter-spacing: 0.39px;
  color: #404040;
  margin: 0;
  margin-left: 9px;
}
