.review-form__content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.review-form__rating {
  font: 400 normal 44px / normal Inter, sans-serif;
  letter-spacing: 0.66px;
  color: #404040;
}
